/* Write the CSS for you answer here */
#main{
    width: 700px;
    height: 541px;
    background-image: url("./assets/landscape.jpg");
    position: absolute;
}

#tree{
    position: relative;
    width: 700px;
    top: 100px;
    z-index: 1;
    pointer-events: none;
}

.balls {
    position: relative;

}

#red {
    z-index: 2;
    left: 50px;
    top: -70px;
}

#blue {
    z-index: 2;
    left: 100px;
    top: -200px;
}

#darkblue {
    z-index: 2;
    left: 200px;
    top: -170px;
}

#green {
    z-index: 2;
    left: 300px;
    top: -210px;
}

#orange {
    z-index: 2;
    left: 400px;
    top: -150px;
}

#pink {
    z-index: 0;
    left: 150px;
    top: -70px;
}


.balls:hover{
    animation-duration: 5s;
    animation-name: fall;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


}

@keyframes fall {
    from {
        padding-top: 0px;

    }

    20%{
        padding-top: 100px;
    }


    40%{
        padding-top: 0px;

    }

    60%{
        padding-top: 100px;

    }

    80%{
        padding-top: 0px;

    }

    to {
        padding-top: 100px;
    }


}


