/* Write the CSS for you answer here */
#main{
    width: 700px;
    height: 541px;
    background-image: url("./assets/landscape.jpg");
    position: absolute;

}

#tree{
    position: relative;
    width: 700px;
    top: 100px;
    z-index: 1;
}

#red {
    position: relative;
    z-index: 2;
    left: 50px;
    top: -70px;
}

#blue {
    position: relative;
    z-index: 2;
    left: 100px;
    top: -200px;
}

#darkblue {
    position: relative;
    z-index: 2;
    left: 200px;
    top: -170px;
}

#green {
    position: relative;
    z-index: 2;
    left: 300px;
    top: -210px;
}

#orange {
    position: relative;
    z-index: 2;
    left: 400px;
    top: -150px;
}

#pink {
    position: relative;
    z-index: 0;
    left: 150px;
    top: -70px;
}


