@font-face {
    font-family: 'AlexBrush';
    src: url('./AlexBrush-Regular.ttf');
}

body{
    background-color: Lavender;
    background-image: url("./assets/corner-LT-pattern.png");
    background-repeat: no-repeat;;
}
pre{
    color: purple;
    line-height: 150%;
    font-size: 22pt;
    font-family: AlexBrush;
}

#header{
    font-size: 22pt;
    color: purple;
    font-family: AlexBrush;
}



#main{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    background-image: url("./assets/ytile-pattern.png");
    background-repeat: repeat-y;
    padding-left: 150px;
    border: solid white 50px;
}

@media print {
    body {
        background-color: white;

    }

    pre{
        color: black;
        font-family: Serif;
    }

    #header{
        color: black;
        font-family: Serif;
    }
}




